<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{pageTitle}}</title>
</head>
<body style="text-align: center">
{{> header}}
<div id="main">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi consectetur, corporis culpa cum
        <br>
        distinctio, error et eveniet exercitationem in laboriosam maxime minus officia perspiciatis sit tempore tenetur
        <br>
        voluptas?</p>
</div>
{{> footer}}
</body>
</html>